<div class="home-page-seventh-contact-section container-fluid py-2">
    <div class="row">
       <div class="hpscsset col-lg-3 col-6">
          <div class="home-page-seventh-contact-image-section-inner">
             <div class="home-page-seventh-contact-image-section"><img class="home-page-seventh-contact-image" src="https://cdn.buyabans.com/media/homePageCategorySlider/Page-1.png" alt=""></div>
             <div class="home-page-seventh-contact-text-sectionf">
                <p class="home-page-seventh-contact-s-text">8:00am - 5:30pm</p>
                <p class="home-page-seventh-contact-t-text">Customer Support</p>
             </div>
          </div>
       </div>
       <div class="hpscsset col-lg-3 col-6">
          <div class="home-page-seventh-contact-image-section-inner">
             <div class="home-page-seventh-contact-image-section"><img class="home-page-seventh-contact-image" src="https://cdn.buyabans.com/media/homePageCategorySlider/sri-lanka.png" alt=""></div>
             <div class="home-page-seventh-contact-text-section">
                <p class="home-page-seventh-contact-f-text">Islandwide delivery</p>
             </div>
          </div>
       </div>
       <div class="hpscsset col-lg-3 col-6">
          <div class="home-page-seventh-contact-image-section-inner">
             <div class="home-page-seventh-contact-image-section"><img class="home-page-seventh-contact-image" src="https://cdn.buyabans.com/media/homePageCategorySlider/stopwatch.png" alt=""></div>
             <div class="home-page-seventh-contact-text-section">
                <p class="home-page-seventh-contact-f-text">Express Delivery</p>
             </div>
          </div>
       </div>
       <div class="hpscsset col-lg-3 col-6">
          <div class="home-page-seventh-contact-image-section-inner">
             <div class="home-page-seventh-contact-image-section"><img class="home-page-seventh-contact-image" src="https://cdn.buyabans.com/media/homePageCategorySlider/technical-support.png" alt=""></div>
             <div class="home-page-seventh-contact-text-section">
                <p class="home-page-seventh-contact-f-text">100+ Service Centres</p>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="custom-footer-main container-fluid py-2">
    <div class="row custom-footer desktop-design">
       <div class="col-md-6 custom-footer-first-section">
         <a class="h2 font-weight-bold mb-2 text-secondary text-decoration-none" >AShop.lk</a>
          <p class="custom-footer-address-first">No 103,New Peradeniya,Karamada,</p>
          <p class="custom-footer-address-second">Gelioya,Kandy, Sri Lanka.</p>
          <p class="custom-footer-phone-number-first">HOTLINE</p>
          <a class="custom-footer-phone-number-second" href="tel:+94771004153">+94 77 100 4153</a>
       </div>
       <div class="col-md-2  custom-footer-link-set-main custom-footer-second-section">
          <div class="custom-footer-link-set">
             <p class="custom-footer-link-title">About</p>
             <a class="custom-footer-link-link" href="/about-us">About Us</a> <a class="custom-footer-link-link" href="https://abansgroup.com/work-with-us/">Careers</a> <a class="custom-footer-link-link" href="/contact-us">Contact Us</a>
          </div>
       </div>
       <div class="col-md-2  custom-footer-link-set-main custom-footer-third-section">
          <div class="custom-footer-link-set">
             <p class="custom-footer-link-title">Help</p>
             <a class="custom-footer-link-link" href="/faq">Frequently Asked Questions</a> <a class="custom-footer-link-link" href="/buy">How To Buy</a> <a class="custom-footer-link-link" href="/shipping-delivery">Shipping &amp; Delivery</a> <a class="custom-footer-link-link" href="/warranty">Warranty Information</a> <a class="custom-footer-link-link" href="/mprma/request/form/">Return Products</a>
          </div>
       </div>
       <div class="col-md-2  custom-footer-link-set-main custom-footer-fourth-section">
          <div class="custom-footer-link-set">
             <p class="custom-footer-link-title">Policies</p>
             <a class="custom-footer-link-link" href="/policy">Privacy Policy</a> <a class="custom-footer-link-link" href="/refundpolicy">Return and Refund Policy</a> <a class="custom-footer-link-link" href="/terms-and-conditions">Terms and Conditions</a>
          </div>
       </div>
    </div>
 </div>
 <div class="custom-footer-main-second container-fluid py-2">
    <div class="row justify-content-between custom-footer-second">
       <div class="custom-footer-second-img-container"><img class="custom-footer-second-img" src="https://cdn.buyabans.com/media/homePageCategorySlider/foot-bank-a11.png" alt=""></div>
       <div class="custom-footer-second-img-container"><img class="custom-footer-second-img" src="https://cdn.buyabans.com/media/homePageCategorySlider/foot-bank-a12.png" alt=""></div>
       <div class="custom-footer-second-img-container"><img class="custom-footer-second-img" src="https://cdn.buyabans.com/media/homePageCategorySlider/foot-bank-a13.png" alt=""></div>
       <div class="custom-footer-second-img-container"><img class="custom-footer-second-img" src="https://cdn.buyabans.com/media/homePageCategorySlider/foot-bank-14.png" alt=""></div>
       <div class="custom-footer-second-img-container"><img class="custom-footer-second-img" src="https://cdn.buyabans.com/media/homePageCategorySlider/foot-bank-15.png" alt=""></div>
       <div class="custom-footer-second-img-container"><img class="custom-footer-second-img" src="https://cdn.buyabans.com/media/homePageCategorySlider/foot-bank-16.png" alt=""></div>
       <div class="custom-footer-second-img-container"><img class="custom-footer-second-img" src="https://cdn.buyabans.com/media/homePageCategorySlider/foot-bank-17.png" alt=""></div>
       <div class="custom-footer-second-img-container"><img class="custom-footer-second-img" src="https://cdn.buyabans.com/media/homePageCategorySlider/dfcc-bank-logocroped.png" alt=""></div>
       <div class="custom-footer-second-img-container"><img class="custom-footer-second-img" src="https://cdn.buyabans.com/media/homePageCategorySlider/foot-bank-19.png" alt=""></div>
       <div class="custom-footer-second-img-container"><img class="custom-footer-second-img" src="https://cdn.buyabans.com/media/homePageCategorySlider/foot-bank-110.png" alt=""></div>
       <div class="custom-footer-second-img-container"><img class="custom-footer-second-img" src="https://cdn.buyabans.com/media/homePageCategorySlider/foot-bank-111.png" alt=""></div>
       <div class="custom-footer-second-img-container"><img class="custom-footer-second-img" src="https://cdn.buyabans.com/media/homePageCategorySlider/Pan_asia_bankcropped22.png" alt=""></div>
       <div class="custom-footer-second-img-container"><img class="custom-footer-second-img" src="https://cdn.buyabans.com/media/homePageCategorySlider/foot-bank-113.png" alt=""></div>
    </div>
 </div>