.checkout-container {
    padding: 20px;
  }
  
  .checkout-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .checkout-item-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .checkout-item-details {
    flex-grow: 1;
  }
  
  .checkout-summary {
    margin-top: 20px;
  }
  
  .gift-message {
    margin-top: 20px;
  }
  .checkout-container {
    padding: 20px;
  }
  
  .checkout-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .checkout-item-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .checkout-item-details {
    flex-grow: 1;
  }
  
  .checkout-summary {
    margin-top: 20px;
  }
  
  .gift-message {
    margin-top: 20px;
  }
  .accordion .card-header{
    background-color: #1E4A57;
  }
  .accordion .card-header button{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
  p{
    margin-bottom: 0;
  }
  mat-form-field {
    margin-right: 12px;
  }
  input.custom-autofill {
    @include cdk.text-field-autofill-color(transparent, red);
  }