.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}
.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  width: 40%;
  left: 20%;
  top: 49px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  scrollbar-width: thin;
}
  
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #f1f1f1;
  }
  .input-group{
    width: 156%;
  }
  .card-img-top{
    width: 18px;
  }
  .stock{
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
}